<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Rust Flip</title>

        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css')}}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='/images/rustflip.png') }}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/socket.io-client/dist/socket.io.js"></script>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

        <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

        <script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    </head>

    <body>

        <!--NAVBAR-->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand ms-5" href="{{ url_for('index') }}">
                <img class="d-inline-block align-top" src="/static/images/rustflip.png"
                height="50"
                width="50">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href=" {{ url_for('tos') }}">TOS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('provablyfair') }}">Provably Fair</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active d-block d-lg-none" aria-current="page" href="{{ url_for('myprofile') }}">My Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active d-block d-lg-none" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
                  </li>
                </ul>
                {% if current_user.is_authenticated %}
                <div class="btn-group h-40 d-none d-lg-block">
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ current_user.personaname }}
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" type="button" href="{{ url_for('myprofile') }}">My Profile</a></li>
                    <li><a class="dropdown-item" type="button" href="{{ url_for('logout') }}">Logout</a></li>
                  </ul>
                </div>
                {% else %}
                <a class="btn btn-light" href="/auth" role="button">Login</a>
                {% endif %}
              </div>
            </div>
        </nav>

        <div class="container-fluid p-0 h-auto" id="body-container">
          {% block content %}{% endblock %}
        </div>
      </body>
</html>